#sticky-header{
    position: sticky;
    top: 0;
    background-color: #1e0290;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
    z-index: 10;
    color: rgba(255, 255, 255, 0.91);
    border-radius: 0.5rem;

}
/* #about-button {
    background-color: #1e0290;
    color:rgba(255, 255, 255, 0.91) ;
    font-size: medium;
    height: 2rem;

} */
